# ==============================
# VARIABLES DE ENTORNO
# ==============================
.env
.env.*
*.env
**/.streamlit/secrets.toml

# ==============================
# ENTORNO VIRTUAL
# ==============================
venv/
.venv/
env/

# ==============================
# PYTHON
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ==============================
# STREAMLIT
# ==============================
.streamlit/config.toml

# ==============================
# ARCHIVOS DEL SISTEMA
# ==============================
.DS_Store
Thumbs.db

# ==============================
# DATOS LOCALES
# ==============================
data/
logs/
*.log

# ==============================
# BASES DE DATOS
# ==============================
*.db
*.sqlite3

# ==============================
# IDEs
# ==============================
.vscode/
.idea/
*.swp
# ==============================
# JUPYTER NOTEBOOK
# ==============================
.ipynb_checkpoints/